In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt




np.random.seed(2)

In [3]:
d1 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data1.csv')
d2 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data2.csv')
d3 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data3.csv')
d4 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data4.csv')
d5 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data5.csv')
d6 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data6.csv')
d7 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data7.csv')
d8 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data8.csv')
d9 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data9.csv')
d10 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data10.csv')
d11 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data11.csv')
d12 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data12.csv')
d13 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data13.csv')
d14 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data14.csv')
d15 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data15.csv')

In [4]:
dataset = pd.concat([d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15],ignore_index=True)

In [5]:
x_data = dataset.drop(['marker'],axis = 1 )

In [6]:
y_data = dataset[['marker']]
y_data = y_data.astype('category')

In [7]:
x_data.replace([np.inf, -np.inf], np.nan, inplace=True)
x_data.fillna(0, inplace=True)

In [8]:
x_data.isnull()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log3,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78372,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
78373,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
78374,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
78375,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
78376,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
y_data['marker'].value_counts()

Attack     55663
Natural    22714
Name: marker, dtype: int64

In [10]:
y_data = y_data.replace({'Natural': 0, 'Attack': 1})

In [11]:
y_data['marker'].value_counts()

1    55663
0    22714
Name: marker, dtype: int64

# no null values already dealt with null values

In [12]:
x_data

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log3,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4
0,70.399324,127673.0908,-49.572308,127648.0176,-169.578319,127723.2374,65.689611,605.91099,-57.003571,626.78553,...,0,0,0,0,0,0,0,0,0,0
1,73.688102,130280.7109,-46.300719,130255.6377,-166.278082,130355.9307,71.831719,483.59351,-50.947407,500.98896,...,0,0,0,0,0,0,0,0,0,0
2,73.733939,130305.7842,-46.254883,130280.7109,-166.232245,130381.0040,71.808800,483.59351,-50.913030,500.98896,...,0,0,0,0,0,0,0,0,0,0
3,74.083443,130581.5902,-45.899649,130556.5169,-165.882741,130656.8100,72.152575,482.86107,-50.437475,499.15786,...,0,0,0,0,0,0,0,0,0,0
4,74.553268,131083.0556,-45.424094,131057.9823,-165.424375,131158.2754,72.118198,484.50906,-50.013486,497.69298,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78372,141.589330,131885.4002,21.606238,131860.3269,-98.382583,131960.6200,143.348311,309.45590,22.156278,315.13231,...,0,0,0,0,0,0,0,0,0,0
78373,141.526305,131960.6200,21.566131,131910.4735,-98.439879,132010.7666,143.010266,310.37145,21.915636,315.49853,...,0,0,0,0,0,0,0,0,0,0
78374,141.365877,132035.8398,21.394244,131985.6933,-98.611766,132085.9864,141.950294,313.30121,21.245275,317.14652,...,0,0,0,0,0,0,0,0,0,0
78375,141.348688,132035.8398,21.371326,131985.6933,-98.617496,132111.0596,141.829973,313.11810,21.193709,317.51274,...,0,0,0,0,0,0,0,0,0,0
78376,141.251285,132035.8398,21.291112,132010.7666,-98.720628,132085.9864,141.554953,313.85054,20.958796,317.69585,...,0,0,0,0,0,0,0,0,0,0

# pefrom feature selection : 1) chi2 2)  SEQUENTIAL

In [13]:
from sklearn.preprocessing import MinMaxScaler

rs = MinMaxScaler()
x_data_fs = rs.fit_transform(x_data)

In [14]:
 from sklearn.feature_selection import SelectKBest, chi2

In [15]:
select_feature = SelectKBest(chi2, k =100).fit(x_data_fs,y_data)

In [16]:
y_data['marker'].value_counts()

1    55663
0    22714
Name: marker, dtype: int64

In [17]:
x_data = select_feature.transform(x_data)

In [18]:
x_data.shape

(78377, 100)

In [19]:
from imblearn.combine import SMOTETomek

In [20]:
smk = SMOTETomek(random_state = 2)
x_data_osampled, y_data_osampled = smk.fit_resample(x_data,y_data)

In [21]:
from sklearn.model_selection import train_test_split


x_train,x_test,y_train,y_test = train_test_split(x_data_osampled,y_data_osampled, test_size = 0.2, random_state = 2)

In [24]:
y_train['marker'].value_counts()

1    43788
0    43788
Name: marker, dtype: int64

In [21]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier

In [22]:

rf = RandomForestClassifier()

# using random forest as base estimator

In [23]:
ada = AdaBoostClassifier(base_estimator = rf, n_estimators = 500, learning_rate = 0.1,)

In [24]:
y_train = y_train['marker']

In [25]:
import time
timestart = time.time()
print(timestart)
ada.fit(x_train,y_train)
timeend = time.time()
print(timeend)

timetaken = timeend - timestart

print (f" It took   {timetaken}   seconds to run the whole program .") #using f string

1618462936.8816476
1618462998.8851156
 It took   62.00346803665161   seconds to run the whole program .

In [26]:
import time
timestart = time.time()
print(timestart)
pred_ada = ada.predict(x_test)
timeend = time.time()
print(timeend)

timetaken = timeend - timestart

print (f" It took   {timetaken}   seconds to run the whole program .") #using f string

1618462998.8940883
1618462999.392755
 It took   0.49866676330566406   seconds to run the whole program .

In [28]:
from sklearn.metrics import classification_report


cr_ada = classification_report(y_test,pred_ada,digits = 5)

In [29]:
print(cr_ada)

              precision    recall  f1-score   support

           0    0.94872   0.95834   0.95351     10947
           1    0.95792   0.94820   0.95304     10947

    accuracy                        0.95327     21894
   macro avg    0.95332   0.95327   0.95327     21894
weighted avg    0.95332   0.95327   0.95327     21894

In [30]:

 from sklearn.tree import DecisionTreeClassifier

In [31]:

 dt = DecisionTreeClassifier(max_depth = 100, criterion = 'gini')

In [32]:
import time
timestart = time.time()
print(timestart)
dt.fit(x_train,y_train)
timeend = time.time()
print(timeend)

timetaken = timeend - timestart

print (f" It took   {timetaken}   seconds to run the whole program .") #using f string

1618463030.964286
1618463039.129448
 It took   8.165161848068237   seconds to run the whole program .

In [33]:
import time
timestart = time.time()
print(timestart)
pred_dt = dt.predict(x_test)
timeend = time.time()
print(timeend)

timetaken = timeend - timestart

print (f" It took   {timetaken}   seconds to run the whole program .") #using f string

1618463039.141471
1618463039.158429
 It took   0.016957998275756836   seconds to run the whole program .

In [34]:
cr__dt = classification_report(y_test,pred_dt,digits = 5)

In [35]:
print(cr__dt)

              precision    recall  f1-score   support

           0    0.88064   0.89979   0.89011     10947
           1    0.89756   0.87805   0.88770     10947

    accuracy                        0.88892     21894
   macro avg    0.88910   0.88892   0.88891     21894
weighted avg    0.88910   0.88892   0.88891     21894

In [36]:
from sklearn.neighbors import KNeighborsClassifier

In [37]:

knn = KNeighborsClassifier(n_neighbors=2)

In [38]:
import time
timestart = time.time()
print(timestart)
knn.fit(x_train,y_train)
timeend = time.time()
print(timeend)

timetaken = timeend - timestart

print (f" It took   {timetaken}   seconds to run the whole program .") #using f string

1618463045.535093
1618463045.551051
 It took   0.01595783233642578   seconds to run the whole program .

In [39]:
import time
timestart = time.time()
print(timestart)
pred_knn = knn.predict(x_test)
timeend = time.time()
print(timeend)

timetaken = timeend - timestart

print (f" It took   {timetaken}   seconds to run the whole program .") #using f string

1618463046.8875213
1618463072.2591767
 It took   25.371655464172363   seconds to run the whole program .

In [40]:
cr_knn = classification_report(y_test,pred_knn,digits = 5)

In [41]:
print(cr_knn)

              precision    recall  f1-score   support

           0    0.83076   0.98337   0.90065     10947
           1    0.97963   0.79967   0.88055     10947

    accuracy                        0.89152     21894
   macro avg    0.90520   0.89152   0.89060     21894
weighted avg    0.90520   0.89152   0.89060     21894

# all results are now completed