In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt





np.random.seed(2)

In [2]:
d1 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data1.csv')
d2 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data2.csv')
d3 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data3.csv')
d4 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data4.csv')
d5 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data5.csv')
d6 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data6.csv')
d7 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data7.csv')
d8 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data8.csv')
d9 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data9.csv')
d10 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data10.csv')
d11 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data11.csv')
d12 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data12.csv')
d13 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data13.csv')
d14 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data14.csv')
d15 = pd.read_csv(r'C:\Users\Naman Bhoj\Desktop\Feb-April\in process 2021\cicn 3 adarsh\data15.csv')

In [3]:
dataset = pd.concat([d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15],ignore_index=True)

In [5]:
dataset.describe()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log3,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4
count,78377.000000,78377.000000,78377.000000,78377.000000,78377.000000,78377.000000,78377.000000,78377.000000,78377.000000,78377.000000,...,78377.000000,78377.000000,78377.000000,78377.000000,78377.000000,78377.000000,78377.000000,78377.000000,78377.000000,78377.000000
mean,-15.802424,130764.039577,2.175196,131035.528095,6.834315,131395.717581,-14.334996,393.949321,3.538540,387.438133,...,0.000026,0.000026,0.035916,0.026436,0.026500,0.035597,0.000051,0.000051,0.000089,0.000077
std,100.876750,8546.118477,111.743169,5393.135370,97.065063,5443.752388,99.601107,190.966011,109.504977,151.277183,...,0.005051,0.005051,0.186082,0.160430,0.160618,0.185285,0.007144,0.007144,0.009450,0.008749
min,-179.988962,0.000000,-179.994691,0.000000,-179.994691,0.000000,-179.994691,0.000000,-179.994691,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-100.416583,131057.982300,-102.129727,130732.029800,-69.459673,131133.202100,-98.159129,305.793700,-94.790138,311.836330,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,-28.865614,131684.814000,8.118812,131358.861500,13.401483,131760.033900,-23.514188,378.671480,1.885031,383.249230,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,68.096034,132186.279400,104.897113,131885.400200,85.324875,132261.499300,66.274028,456.676340,102.674037,460.338540,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,179.994691,151592.990400,179.994691,151567.917200,179.988962,151693.283500,179.994691,1779.462980,179.994691,1265.656320,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
x_data = dataset.drop(['marker'],axis = 1 )

In [6]:
y_data = dataset[['marker']]

In [7]:
y_data = y_data.astype('category')

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test, y_train,y_test = train_test_split(x_data,y_data,test_size = 0.2, random_state = 2)

In [10]:
from sklearn.ensemble import AdaBoostClassifier

In [11]:
ada = AdaBoostClassifier(n_estimators=100, random_state=0)

In [12]:
x_train.dropna()

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log3,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4
61681,-77.601404,138404.4504,162.410617,137752.5454,42.410336,138479.6702,-72.181223,167.91187,155.535123,234.74702,...,0,0,0,0,0,0,0,0,0,0
72557,-122.332219,131760.0339,117.685531,131133.2021,-2.314749,131810.1804,-124.601132,381.60124,115.365052,381.60124,...,0,0,0,0,0,0,0,0,0,0
65770,-78.203009,131634.6675,161.826200,131609.5942,41.814460,131709.8873,-79.664052,382.88301,159.431236,385.08033,...,0,0,0,0,0,0,0,0,0,0
57775,-173.119198,131108.1288,66.915741,131083.0556,-53.101728,131183.3486,-177.164280,464.91629,62.658664,463.63452,...,0,0,0,0,0,0,0,0,0,0
37246,157.563394,132136.1329,37.580302,131484.2279,-82.425708,132186.2794,157.064920,315.86475,36.887023,316.23097,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44295,169.652803,131559.4477,49.675441,131534.3744,-70.330569,131634.6675,167.905282,396.43315,47.589874,396.25004,...,0,0,0,0,0,0,0,0,0,0
33867,91.644599,130155.3446,-28.338493,129528.5128,-148.315855,130205.4911,102.800088,95.58342,4.045082,67.56759,...,0,0,0,0,0,0,0,0,0,0
31019,-66.486023,131609.5942,173.514539,130957.6892,53.525717,131684.8140,-67.809555,396.79937,170.781530,402.84200,...,0,0,0,0,0,0,0,0,0,0
44566,-1.312073,132437.0121,-121.306624,131810.1804,118.693937,132487.1587,2.028271,249.76204,-118.751233,252.14247,...,0,0,0,0,0,0,0,0,0,0
72173,-117.611047,131985.6933,122.423892,131935.5467,2.412152,132060.9131,-115.829148,310.55456,123.157278,313.48432,...,0,0,0,0,0,0,0,0,0,0

In [13]:
x_train = x_train.reset_index()

In [14]:
y_train = y_train.reset_index()

In [15]:
x_train.drop(['index'],axis = 1 , inplace = True)

In [16]:
x_train

,R1-PA1:VH,R1-PM1:V,R1-PA2:VH,R1-PM2:V,R1-PA3:VH,R1-PM3:V,R1-PA4:IH,R1-PM4:I,R1-PA5:IH,R1-PM5:I,...,control_panel_log3,control_panel_log4,relay1_log,relay2_log,relay3_log,relay4_log,snort_log1,snort_log2,snort_log3,snort_log4
0,-77.601404,138404.4504,162.410617,137752.5454,42.410336,138479.6702,-72.181223,167.91187,155.535123,234.74702,...,0,0,0,0,0,0,0,0,0,0
1,-122.332219,131760.0339,117.685531,131133.2021,-2.314749,131810.1804,-124.601132,381.60124,115.365052,381.60124,...,0,0,0,0,0,0,0,0,0,0
2,-78.203009,131634.6675,161.826200,131609.5942,41.814460,131709.8873,-79.664052,382.88301,159.431236,385.08033,...,0,0,0,0,0,0,0,0,0,0
3,-173.119198,131108.1288,66.915741,131083.0556,-53.101728,131183.3486,-177.164280,464.91629,62.658664,463.63452,...,0,0,0,0,0,0,0,0,0,0
4,157.563394,132136.1329,37.580302,131484.2279,-82.425708,132186.2794,157.064920,315.86475,36.887023,316.23097,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62696,169.652803,131559.4477,49.675441,131534.3744,-70.330569,131634.6675,167.905282,396.43315,47.589874,396.25004,...,0,0,0,0,0,0,0,0,0,0
62697,91.644599,130155.3446,-28.338493,129528.5128,-148.315855,130205.4911,102.800088,95.58342,4.045082,67.56759,...,0,0,0,0,0,0,0,0,0,0
62698,-66.486023,131609.5942,173.514539,130957.6892,53.525717,131684.8140,-67.809555,396.79937,170.781530,402.84200,...,0,0,0,0,0,0,0,0,0,0
62699,-1.312073,132437.0121,-121.306624,131810.1804,118.693937,132487.1587,2.028271,249.76204,-118.751233,252.14247,...,0,0,0,0,0,0,0,0,0,0
62700,-117.611047,131985.6933,122.423892,131935.5467,2.412152,132060.9131,-115.829148,310.55456,123.157278,313.48432,...,0,0,0,0,0,0,0,0,0,0

# you need to remove infinite value and null values from the dataset, now what are infinite value you need to work on that , the error was that too big for float64

In [17]:
x_train.replace([np.inf, -np.inf], np.nan, inplace=True)

In [18]:
x_train.fillna(999, inplace=True)

In [19]:
y_train = y_train['marker']

In [32]:
ada.fit(x_train,y_train)

AdaBoostClassifier(n_estimators=100, random_state=0)

In [33]:
x_test.replace([np.inf, -np.inf], np.nan, inplace=True)
x_test.fillna(999, inplace=True)

C:\Users\Naman Bhoj\Anaconda3\lib\site-packages\pandas\core\frame.py:4166: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\Naman Bhoj\Anaconda3\lib\site-packages\pandas\core\frame.py:4147: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [34]:
pred_ada = ada.predict(x_test)

In [35]:
 from sklearn.metrics import classification_report

cr_ada = classification_report(y_test,pred_ada)

In [36]:
print(cr_ada)

              precision    recall  f1-score   support

      Attack       0.73      0.97      0.83     11108
     Natural       0.63      0.11      0.19      4568

    accuracy                           0.72     15676
   macro avg       0.68      0.54      0.51     15676
weighted avg       0.70      0.72      0.64     15676

In [37]:

 from sklearn.tree import DecisionTreeClassifier

In [38]:

 dt = DecisionTreeClassifier()

In [39]:
# from sklearn.ensemble import VotingClassifier

In [40]:
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [41]:
 pred_dt = dt.predict(x_test)

In [42]:
cr_dt = classification_report(y_test,pred_dt)

In [43]:
print(cr_dt)

              precision    recall  f1-score   support

      Attack       0.91      0.90      0.90     11108
     Natural       0.76      0.77      0.77      4568

    accuracy                           0.86     15676
   macro avg       0.83      0.84      0.83     15676
weighted avg       0.86      0.86      0.86     15676

In [45]:
#also implement transfer learning

In [59]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

In [60]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [61]:
pred_knn = knn.predict(x_test)

In [62]:
cr_knn = classification_report(y_test,pred_knn)

In [63]:
print(cr_knn)

              precision    recall  f1-score   support

      Attack       0.86      0.90      0.88     11108
     Natural       0.72      0.64      0.68      4568

    accuracy                           0.82     15676
   macro avg       0.79      0.77      0.78     15676
weighted avg       0.82      0.82      0.82     15676

In [1]:
#all graphs are made using weighted average f1-score